#default-button {
    background-color: #fcfcfc;
    color: #111;
    padding: 6px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}