.container{
    width: 20vw;
    background-color: azure;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.container button{
    background-color: aquamarine;
    border: 0px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.container button:hover{
    background-color: rgb(20, 255, 177);
    color: black;
}